<main class="container">
    <div class="display-4 text-center my-4">Import Data</div>
    <form class="row justify-content-center" [formGroup]="excelUploadForm" (ngSubmit)="uploadData()">
        <div class="card col-md-8 col-sm-10 col-11 mx-auto">
            <div class="card-body">
                <span class="lead">Select excel file to be uploaded: </span>
                <div class="custom-file my-3">
                    <input type="file" name="excelFileUpload" id="excelFileUpload" formControlName="excelFileUpload" class="custom-file-input">
                    <label for="excelFileUpload" class="custom-file-label"></label>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Upload</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center my-2">
        <div class="alert alert-info col-md-8 col-sm-10 col-11 mx-auto">
            Download sample excel file <a [routerLink]="#" class="alert-link">here</a>.
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</main>
