body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: left;
    width: 100%;
    background-attachment: fixed;
}

footer {
    min-height: 2rem;
}

main {
    min-height: 75vh;
    /* margin-top: 5rem; */
}

#logo {
    max-height: 3rem;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

#logo-foot {
    max-height: 4rem;
}

.undraggable,
.jumbotron,
a.card {
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adv-imgs{
    width: 15vw;
}

.social-icon {
    font-size: 1.5rem;
}

.hover-enlarge {
    transition: transform ease-in 0.2s;
}

.hover-enlarge:hover {
    transform: scale(1.05, 1.05);
}

a.card,
a.crad:hover {
    color: inherit;
    text-decoration: none;
}

.table > tbody > tr > td {
    vertical-align: middle !important;
}

.noresize {
    resize: none;
}

@media (max-width: 991px) {
    .company-logo,
    .exchange-logo {
        width: 20rem;
        margin-left: auto;
        margin-bottom: 2rem;
        /* display: none; */
    }
}

@media (max-width: 768px) {
    .md-only {
        display: none;
    }
}
@media (min-width: 768px) {
    .not-md {
        display: none;
    }
}

.limit-text {
    display: block;
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-shadow {
    text-shadow: black 4px 4px 4px;
}

.btn:disabled {
    cursor: context-menu;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

.btn {
    position: relative;
}

.btn.btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    border: 2px solid var(--primary);
    transition: top, left, right, bottom, 100ms ease-out;
}

.btn.btn-primary:hover::before,
.btn.btn-primary:focus::before{
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0.25rem;
}

.btn.btn-secondary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    border: 2px solid var(--secondary);
    transition: top, left, right, bottom, 100ms ease-out;
}

.btn.btn-secondary:hover::before,
.btn.btn-secondary:focus::before{
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0.25rem;
}
.btn.btn-danger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    border: 2px solid var(--danger);
    transition: top, left, right, bottom, 100ms ease-out;
}

.btn.btn-danger:hover::before,
.btn.btn-danger:focus::before{
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0.25rem;
}
.btn.btn-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index: -1; */
    border: 2px solid var(--info);
    transition: top, left, right, bottom, 100ms ease-out;
}

.btn.btn-info:hover::before,
.btn.btn-info:focus::before{
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 0.25rem;
}

.add-btn {
    height: 10vh;
    width: 10vh;
    right: 2rem;
    bottom: 5rem;
    position: fixed !important;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}

.add-btn::before {
    border-radius: 100% !important;
    z-index: -1;
}