<main class="container">
  <div class="display-4 text-center my-4">Manage Exchanges</div>
  <div  class="table-responsive">
    <table class="table table-stripped table-hover p-5 bg-light rounded">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Brief</th>
          <th>Contact Address</th>
          <th>Remarks</th>
          <th colspan="3" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockEx of stockExchanges">
          <td> {{stockEx.id}} </td>
          <td> {{stockEx.name}} </td>
          <td> {{stockEx.brief}} </td>
          <td> {{stockEx.contactAddress}} </td>
          <td> {{stockEx.remarks}} </td>
          <td> <button class="btn btn-primary">
              <fa-icon [icon]="faEye"></fa-icon>
            </button>
          </td>
          <td> <button class="btn btn-info" (click)="updateStockExchange(stockEx.id)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button> </td>
          <td> <button class="btn btn-danger" (click)="deleteStockExchange(stockEx.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button> </td>
        </tr>
      </tbody>

    </table>
  </div>
  <button type="button" class="btn btn-primary rounded-circle mx-auto add-btn">
    <fa-icon [icon]="faPlus" class="pt-2"></fa-icon>
  </button>
</main>
