<main class="container">
    <div class="display-4 text-center my-4">Verify Account</div>
    <div class="row justify-content-center">
        <div class="card col-md-8 col-sm-10 col-11 mx-auto shadow">
            <div class="card-body">
                <form [formGroup]="otpForm" (ngSubmit)="verifyOTP()">
                    <div class="form-group">
                        <label for="otp" class="form-control-label"></label>
                        <div class="input-group">
                            <input type="text" name="otp" id="otp" formControlName="otp" class="form-control"
                                placeholder="Enter your OTP..." required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="!this.otpForm.valid">Verify</button>
                </form>
            </div>
        </div>
    </div>
</main>