<main class="container">
    <div class="display-4 text-center my-4">Signup</div>
    <div class="row justify-content-center">
        <div class="card col-md-8 col-sm-10 col-11 mx-auto shadow">
            <div class="card-body">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username" class="form-control-label">Name:</label>
                        <input type="text" name="username" id="username" class="form-control"
                            placeholder="Enter username..." formControlName="username" (change)="checkUsername($event)">
                        <span class="text-danger" *ngIf="usernameTaken"><small>This username is already
                                taken.</small></span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="form-control-label">E-mail:</label>
                        <input type="email" name="email" id="email" class="form-control"
                            placeholder="Enter your email..." formControlName="email" (change)="checkEmail($event)"
                            [ngClass]="{'ng-invalid':emailTaken}">
                        <span class="text-danger" *ngIf="emailTaken"><small>This email is already in use.</small></span>
                        <span class="text-danger"
                            *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"><small>Enter a
                                valid email id</small></span>
                    </div>
                    <div class="form-group">
                        <div> 
                            <app-password-strength class="w-100"
                            [passwordToCheck]="signupForm.controls.password.value">
                            </app-password-strength>
                        </div>
                        <label for="password" class="form-control-label">Password: </label>
                        <input type="password" name="password" id="password" class="form-control"
                            placeholder="Enter your password..." formControlName="password" (change)="onChange()">
                        <span class="text-danger"
                            *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"><small>Enter
                                a valid password</small></span>
                        <ul>
                            <li class="text-danger"
                                *ngIf="(signupForm.controls.password.errors && signupForm.controls.password.errors.noNumeric) && signupForm.controls.password.touched">
                                <small>Password must contain one numeric</small></li>
                            <li class="text-danger"
                                *ngIf="(signupForm.controls.password.errors &&signupForm.controls.password.errors.noSepcialCharacter) && signupForm.controls.password.touched">
                                <small>Password must contain one special character</small></li>
                            <li class="text-danger"
                                *ngIf="(signupForm.controls.password.errors &&signupForm.controls.password.errors.noUppercase) && signupForm.controls.password.touched">
                                <small>Password must contain one uppercase letter</small></li>
                            <li class="text-danger"
                                *ngIf="(signupForm.controls.password.errors &&signupForm.controls.password.errors.noLowercase) && signupForm.controls.password.touched">
                                <small>Password must contain one lowercase letter</small></li>
                            <li class="text-danger"
                                *ngIf="(signupForm.controls.password.errors &&signupForm.controls.password.errors.minlength) && signupForm.controls.password.touched">
                                <small>Password must be minimum 8 characters</small></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="rePassword" class="form-control-label">Confirm Password: </label>
                        <input type="password" name="rePassword" id="rePassword" class="form-control"
                            placeholder="Confirm your password..." formControlName="rePassword"
                            (keyup)="checkPasswordMatch()">
                        <span class="text-danger" *ngIf="!passwordsMatch"><small>The passwords do not
                                match</small></span>
                        <span class="text-danger"
                            *ngIf="!signupForm.get('rePassword').valid && signupForm.get('rePassword').touched"><small>Please
                                reenter password</small></span>

                    </div>
                    <div class="form-group">
                        <label for="phoneNo" class="form-control-label">Phone number: </label>
                        <input type="number" name="phoneNo" id="phoneNo" class="form-control"
                            placeholder="Enter phone number..." formControlName="phoneNo">
                        <span class="text-danger"
                            *ngIf="!signupForm.get('phoneNo').valid && signupForm.get('phoneNo').touched"><small>Enter a
                                valid phone number</small></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3"
                        [disabled]="!signupForm.valid  || !passwordsMatch || usernameTaken || emailTaken">Signup</button>
                    <span class="row text-muted justify-content-center my-2"><small>Already a user? <a href="#"
                                data-toggle="modal" data-target="#login-modal">Login</a></small></span>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="successModal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                You have been successfully registered.<br>
                <p class="pt-2">
                    Activate your account by clicking the link sent to your email.
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="gotoHome()">Ok</button>
            </div>
        </div>
    </div>
</div>
