<section class="jumbotron jumbotron-fluid py-4">
    <div class="container">
        <h1 class="display-4 text-center">Hi! [PH]User,<br>
            <p class="lead text-center mt-5">What would you like to do?</p>
        </h1>
    </div>
</section>

<main class="container">
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Compare companies</h4>
                <p class="card-text text-center mb-3">Get charts comparing the stocks of one company or different
                    companies ovr a period of time.</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Compare Sectors</h4>
                <p class="card-text text-center mb-3">Get charts comparing the stocks of one sector or different sectors
                    ovr a period of time.</p>
            </div>
        </a>
    <!-- </div>
    <div class="row card-deck"> -->
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View Exchanges</h4>
                <p class="card-text text-center mb-3">View the available exchanges and their details.</p>
            </div>
        </a>
        </div>
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View Companies</h4>
                <p class="card-text text-center mb-3">View the available companies and their details.</p>
            </div>
        </a>
    <!-- </div>
    <div class="row card-deck"> -->
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">IPOs</h4>
                <p class="card-text text-center mb-3">Check on upcoming IPOs</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" href="#">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Manage Account</h4>
                <p class="card-text text-center mb-3">Manage your account.</p>
            </div>
        </a>
    </div>
</main>