<main class="container">
    <div class="display-4 text-center my-4">Manage Companies</div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-stripped table-hover text-center bg-light">
                <thead class="thead-light">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>CEO</th>
                    <th>Board of Directors</th>
                    <th>Stock Exchanges</th>
                    <th>Turnover</th>
                    <th>Brief</th>
                    <th colspan="2" class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies">
                        <td> {{company.id}} </td>
                        <td> {{company.name}} </td>
                        <td> {{company.sector}} </td>
                        <td> {{company.ceo}} </td>
                        <td>
                            <div *ngFor="let director of company.directors" class="row justify-content-center">
                                {{director}}
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let exchange of company.stockExchanges" class="row justify-content-center">
                                {{exchange.stockExchange}} : {{exchange.stockCode}}
                            </div>
                        </td>
                        <td> {{company.turnover}} </td>
                        <td> {{company.brief}} </td>
                        <td><button type="button" class="btn btn-info" (click)="updateCompany(company.id)">
                                <fa-icon [icon]="faEdit"></fa-icon>
                            </button>
                        </td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteCompany(company.id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                        <!-- <td><button type="button" class="btn btn-primary">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </button>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary rounded-circle mx-auto add-btn shadow" (click)="gotoNew()">
        <fa-icon [icon]="faPlus" class="h2"></fa-icon>
    </button>
</main>
