  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a href="#" class="navbar-brand">
        <img src="../assets/logo.svg" alt="StockView" id="logo" class="undraggable">
        <span class="text-light mx-2 my-auto undraggable">StockView</span>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Link 1</a></li>
          <li class="nav-item"><a href="./signup.html" class="nav-link">Signup</a></li>
        </ul>
        <button class=" btn text-light ml-md-5 pl-0 pl-md-5" role="login" data-toggle="modal"
          data-target="#login-modal">Login</button>
      </div>
    </nav>
  </header>
  <!-- Jumbotron -->
  <section class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">Stock Market Charting</h1>
      <p class="lead text-justify mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe unde quia
        officiis veritatis quas cumque distinctio inventore, ducimus sit iure eaque omnis ratione, enim nemo
        voluptates maiores. Molestiae, alias nihil!
      </p>
    </div>
  </section>

  <!-- Main container -->
  <main class="container">
    <div class="row card-deck justify-content-between">
      <div class="card w-100 shadow hover-enlarge">
        <img class="card-img-top pt-4 mx-auto adv-imgs" src="../assets/stock.svg" alt="">
        <div class="card-body">
          <h4 class="card-title text-center">Charts</h4>
          <p class="card-text text-center mb-3">See the stock charts of companies and exchanges</p>
        </div>
      </div>
      <div class="card w-100 shadow hover-enlarge">
        <img class="card-img-top pt-4 mx-auto adv-imgs" src="../assets/scale-compare.svg" alt="">
        <div class="card-body">
          <h4 class="card-title text-center">Compare</h4>
          <p class="card-text text-center mb-3">Compare the stocks of Sectors and Companies over a period of
            time.</p>
        </div>
      </div>
      <div class="card w-100 shadow hover-enlarge">
        <img class="card-img-top pt-4 mx-auto adv-imgs" src="../assets/ipo.svg" alt="">
        <div class="card-body">
          <h4 class="card-title text-center">IPOs</h4>
          <p class="card-text text-center mb-3">Get to know about the new IPOs.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5 justify-content-between card-deck">
      <div class="card col-sm-6 shadow">
        <div class="card-body">
          <h4 class="card-title text-center">Already a User?</h4>
          <h5 class="card-subtitle text-center text-muted">Continue</h5>
          <button class="btn btn-primary btn-block mt-3">Login</button>
        </div>
      </div>
      <div class="card col-sm-6 shadow">
        <div class="card-body">
          <h4 class="card-title text-center">New User?</h4>
          <h5 class="card-subtitle text-center text-muted">Get startrd</h5>
          <button class="btn btn-primary btn-block mt-3">Signup</button>
        </div>
      </div>
    </div>
  </main>

  <div class="modal fade" id="login-modal">
    <div class="modal-dialog modal-dialog-centered" role="login">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" novalidate>
            <div class="row justify-content-around">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="login-type" id="login-type1" value="user"
                  checked>
                <label for="login-type1" class="custom-control-label"> User</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" name="login-type" id="login-type2" value="admin">
                <label for="login-type2" class="custom-control-label"> Admin</label>

              </div>
            </div>
            <div class="form-group mt-4">
              <label for="username">Username:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" name="username" id="username" class="form-control" required autofocus autocomplete>
                <div class="invalid-tooltip">
                  Enter a valid username.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="invalid-tooltip">
                  Enter a valid username.
                </div>
              </div>

            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="remember-me" id="remember-me" class="custom-control-input">
              <label for="remember-me" class="custom-control-label">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-5">Login</button>
            <span class="row text-muted justify-content-center my-2"><small>New user?<a href="./signup.html">
                  Signup</a></small></span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="container-fluid bg-light mt-5">
    <div class="row justify-content-center">
      <div class="media col-sm-6 ">
        <div class="row mx-auto justify-content-center">
          <img src="../assets/logo.svg" class="my-4 ml-5 undraggable" id="logo-foot" alt="" srcset="">
          <h3 class="media-body align-self-center ml-3 col-6 undraggable">StockView</h3>
        </div>

      </div>
      <ul class="my-2 list-unstyled col-sm-6 row align-self-center justify-content-between flex-wrap">
        <li class="col-6 text-center"><a class="text-dark" href="">Link 1</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 2</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 3</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 4</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 5</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 6</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="">Link 7</a></li>
        <li class="col-6 text-center"><a class="text-dark" href="./template.html">Template</a></li>
      </ul>
    </div>
    <div class="row bg-dark socials-footer undraggable">
      <div class="col-md-6 align-self-center text-muted text-md-left text-center">
        <span>&#169; Copyright 2020-2021</span>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="row justify-content-end flex-nowrap">
          <a href="" class="col">
            <i class="fab fa-facebook h-100 py-2 social-icon text-light mx-4"></i>
          </a>
          <a href="" class="col">
            <i class="fab fa-twitter h-100 py-2 social-icon text-light mx-4"></i>
          </a>
          <a href="" class="col">
            <i class="fab fa-instagram h-100 py-2 social-icon text-light mx-4"></i>
          </a>
          <a href="" class="col">
            <i class="fab fa-github h-100 py-2 social-icon text-light mx-4"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
