<section class="jumbotron jumbotron-fluid py-4">
    <div class="container">
        <h1 class="display-4 text-center">Hi! <span *ngIf="user">{{ user.username }}</span>,<br>
            <p class="lead text-center mt-5">What would you like to do?</p>
        </h1>
    </div>
</section>

<main class="container">
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/compare">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Compare companies</h4>
                <p class="card-text text-center mb-3">Get charts comparing the stocks of one company/sector or different
                    companies/sectors ovr a period of time.</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/view-sectors">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View Sectors</h4>
                <p class="card-text text-center mb-3">See all the available sectors.</p>
            </div>
        </a>
    <!-- </div>
    <div class="row card-deck"> -->
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/view-exchanges">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View Exchanges</h4>
                <p class="card-text text-center mb-3">View the available exchanges and their details.</p>
            </div>
        </a>
        </div>
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/view-companies">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View Companies</h4>
                <p class="card-text text-center mb-3">View the available companies and their details.</p>
            </div>
        </a>
    <!-- </div>
    <div class="row card-deck"> -->
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/view-ipos">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">View IPOs</h4>
                <p class="card-text text-center mb-3">Check on upcoming IPOs</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" routerLink="/account">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Manage Account</h4>
                <p class="card-text text-center mb-3">Manage your account.</p>
            </div>
        </a>
    </div>
</main>