<main class="container">
    <div class="display-4 text-center my-4">Account Update</div>
    <div class="row justify-content-center">
        <div class="card col-md-8 col-sm-10 col-11 mx-auto shadow">
            <div class="card-body">
                <form [formGroup]="passwordUpdateForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="oldPassword" class="form-control-label">Old password:</label>
                        <div class="input-group">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control"
                                placeholder="Enter old password..." formControlName="oldPassword">

                        </div>
                        <span class="text-danger"
                            *ngIf="!passwordUpdateForm.get('oldPassword').valid && passwordUpdateForm.get('oldPassword').touched">
                            <small>Please enter old password.</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="form-control-label">New Password:</label>
                        <div class="input-group">
                            <input type="password" name="newPassword" id="newPassword" class="form-control"
                                placeholder="Enter new password..." formControlName="newPassword">
                        </div>
                        <span class="text-danger"
                            *ngIf="!passwordUpdateForm.get('newPassword').valid && passwordUpdateForm.get('newPassword').touched">
                            <small>Enter a valid new password</small>
                        </span>
                        <ul>
                            <li class="text-danger"
                                *ngIf="(passwordUpdateForm.get('newPassword').errors && passwordUpdateForm.get('newPassword').errors.noNumeric) && passwordUpdateForm.get('newPassword').touched">
                                <small>Password must contain one numeric</small></li>
                            <li class="text-danger"
                                *ngIf="(passwordUpdateForm.get('newPassword').errors && passwordUpdateForm.get('newPassword').errors.noSepcialCharacter) && passwordUpdateForm.get('newPassword').touched">
                                <small>Password must contain one special character</small></li>
                            <li class="text-danger"
                                *ngIf="(passwordUpdateForm.get('newPassword').errors && passwordUpdateForm.get('newPassword').errors.noUppercase) && passwordUpdateForm.get('newPassword').touched">
                                <small>Password must contain one uppercase letter</small></li>
                            <li class="text-danger"
                                *ngIf="(passwordUpdateForm.get('newPassword').errors && passwordUpdateForm.get('newPassword').errors.noLowercase) && passwordUpdateForm.get('newPassword').touched">
                                <small>Password must contain one lowercase letter</small></li>
                            <li class="text-danger"
                                *ngIf="(passwordUpdateForm.get('newPassword').errors && passwordUpdateForm.get('newPassword').errors.minlength) && passwordUpdateForm.get('newPassword').touched">
                                <small>Password must be minimum 8 characters</small></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="reNewPassword" class="form-control-label">Retype new password: </label>
                        <div class="input-group">
                            <input type="password" name="reNewPassword" id="phoneNo" class="form-control"
                                placeholder="Re-type new password..." formControlName="reNewPassword">
                        </div>
                        <span class="text-danger"
                            *ngIf="passwordUpdateForm.get('reNewPassword').errors && passwordUpdateForm.get('reNewPassword').errors.dontMatch">
                            <small>Passwords do not match</small>
                        </span>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary btn-block" (click)="goBack()">
                                Cancel
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="!passwordUpdateForm.valid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="message">
                {{ message }}
            </div>
        </div>
    </div>
</div>
