<main class="container">
    <div class="display-4 text-center my-4">Manage Companies</div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-hover table-sm table-stripped mx-auto w-auto">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sector</th>
                    <th>CEO</th>
                    <th>Board of Directors</th>
                    <th>Stock Exchanges</th>
                    <th>Turnover</th>
                    <th>Brief</th>
                    <th colspan="3" class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies">
                        <td> {{company.id}} </td>
                        <td> {{company.name}} </td>
                        <td> {{company.sector}} </td>
                        <td> {{company.ceo}} </td>
                        <td>
                            <div *ngFor="let director of company.directors" class="row justify-content-center">
                               {{director}} 
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let exchange of company.stockExchanges" class="row justify-content-center">
                                {{exchange.stockExchange}} : {{exchange.stockCode}}
                            </div>
                        </td>
                        <td> {{company.turnover}} </td>
                        <td> {{company.brief}} </td>
                        <td><button type="button" class="btn btn-info" (click)="updateCompany(company.id)">Update</button></td>
                        <td><button type="button" class="btn btn-danger" (click)="deleteCompany(company.id)">Delete</button></td>
                        <td><button type="button" class="btn btn-primary">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-primary rounded-circle mx-auto add-btn "><i
            class="fas fa-plus pt-2"></i></button>
</main>
