<section class="jumbotron jumbotron-fluid py-4">
    <div class="container">
        <h1 class="display-4 text-center">Hi! Admin,<br>
            <p class="lead text-center mt-5">What would you like to do?</p>
        </h1>
    </div>
</section>

<main class="container">
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" [routerLink]="['/import-excel']">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Import Data</h4>
                <p class="card-text text-center mb-3">Upload stock data from excel sheet. You can upload for multiple days.</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" [routerLink]="['/manage-company']">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Manage Companies</h4>
                <p class="card-text text-center mb-3">View the available companies and add new companies.</p>
            </div>
        </a>
    </div>
    <div class="row card-deck">
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" [routerLink]="['/manage-exchange']">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Manage Exchanges</h4>
                <p class="card-text text-center mb-3">View the available exchanges and add new exchanges.</p>
            </div>
        </a>
        <a class="card w-100 shadow hover-enlarge mt-4 mx-4 mx-sm-3" [routerLink]="['/new-ipo']">
            <img class="card-img-top pt-4 mx-auto adv-imgs" src="../../../assets/ph.svg" alt="">
            <div class="card-body">
                <h4 class="card-title text-center">Update IPO</h4>
                <p class="card-text text-center mb-3">Add new companies and upload their IPO information.</p>
            </div>
        </a>
    </div>
</main>