<main class="container ">
    <div class="card w-75 mx-auto mt-5">
        <div class="card-body"> 
            <div class="row mx-5">
                <div class="row">
                    <img src="../../../assets/ph.svg" alt="Profile image" class="rounded-circle profile mt-2 p-0">
                    <h5 class="display-4 ml-3 m-0 align-self-end"> Username </h5>
                </div>
            </div>
            <div class="row mt-5 mx-5">
                <span class="col-auto">Email:</span>
                <span class="col-auto">example@exapmle.com</span>
            </div>
            <div class="row mt-4 mx-5">
                <span class="col-auto">Phone Number:</span>
                <span class="col-auto">##########</span>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-primary">Change Password</button>
            <button type="button" class="btn btn-secondary ml-2" (click)="updateUser()">Update Details</button>
        </div>
    </div>
</main>