<main class="container">
    <div class="display-4 text-center my-4">List of Users</div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-hover table-sm table-stripped mx-auto w-auto bg-light">
                <thead class="thead-light">
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Confirmed</th>
                    <th class="text-center">Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNo }}</td>
                        <td>{{ user.confirmed }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
